.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 30px;
  background-color: #be1ef6;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
  bottom: -90px;
}

body {
  background-image: url("../images/equalizer-4464339_1920.jpg");
  background-size: cover;
  font-family:'Bangers', cursive;
}

h1 {
  text-align: center;
  color: #be1ef6;
  -webkit-text-stroke: 1px white;
  font-weight: bolder;
  padding: 20px;
  font-size: 70px;
}

p {
  margin: 10px;
  font-weight: bold;
  color:#be1ef6;
  font-size: 40px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #be1ef6;
  height: 600px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -250px;
  right: -30px;
  width: 95%;
  font-size: 45px;
  
}